---
import Container from '@/components/container.astro'
import Postlist from '@/components/postlist.astro'
import EnglishLayout from '@/layouts/EnglishLayout.astro'
import Pagetitle from '@/components/pagetitle.astro'
import { getEnglishInfoPosts } from '@/utils/content'
---

<EnglishLayout title="Industry">
	<Container>
		<Pagetitle>
			<Fragment slot="title">Industry insights</Fragment>
			<Fragment slot="desc"> </Fragment>
		</Pagetitle>
		<main class="overflow-x-clip">
			<div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
				{
					getEnglishInfoPosts.map((post) => (
						<Postlist post={post} aspect="square" />
					))
				}
			</div>
		</main>
	</Container>
</EnglishLayout>
