---
import Container from '@/components/container.astro'
import Postlist from '@/components/postlist.astro'
import Layout from '@/layouts/Layout.astro'
import Pagetitle from '@/components/pagetitle.astro'
import { getInfoPosts } from '@/utils/content'
---

<Layout title="產業">
	<Container>
		<Pagetitle>
			<Fragment slot="title">產業資訊</Fragment>
			<Fragment slot="desc"> </Fragment>
		</Pagetitle>
		<main>
			<div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
				{getInfoPosts.map((post) => <Postlist post={post} aspect="square" />)}
			</div>
		</main>
	</Container>
</Layout>
